@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$bg_main: #F3F2F0;
$bg_port: #E7E6E6;
$black: #010101;
$red: #D40000;
$white: #fff;

$font-inter: 'Inter', sans-serif;

html {
    font-size: 10px;
}

body {
    font-size: 1.4rem;
    font-family: $font-inter;
    color: $black;
    background: #F3F2F0;
}

.main {
    margin-top: 0;
    padding-top: 0;
}
.header {

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 4rem;
        padding-bottom: 6rem;
    }
    &__nav {
        display: flex;
        list-style-type: none;
        gap: 4rem;
        padding-left: 0;
    }
    &__item {
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    &__contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.3rem;
    }
    &__tel {
        color: $black;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-transform: capitalize;
        text-decoration: none;
        &:hover {
            color: $red;
            cursor: pointer;
        }
    }
    &__mail {
        color: $black;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 1.3rem;
        &:hover {
            color: $red;
            cursor: pointer;
        }
        &::before {
            content: "";
            display: block;
            width: 1px;
            height: 24px;
            background: $black;
            opacity: .2;
        }
    }

}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.portfolio {
    background: $bg_port;
    padding: 50rem auto;
}
.picture {

    &__img {
        object-fit: cover;
        object-position: 0% 15%;
        width: 100%;
        height: 31rem;
        position: relative;
        overflow: hidden;
    }
}
.job {

    &__content {
        &::before {
            content: "";
            width: 253px;
            height: 253px;
            border-radius: 100%;
            background: $white;
            position: absolute;
            top: 450px;
            left: 58px;
            z-index: -1;
        }
    }
    &__name {
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    &__namejob {
        font-size: 7.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.22px;
        text-transform: uppercase;
    }
}