@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$bg_main: #F3F2F0;
$bg_port: #E7E6E6;
$black: #010101;
$red: #D40000;
$white: #fff;

$font-inter: 'Inter', sans-serif;

html {
    font-size: 10px;
}

body {
    font-size: 1.4rem;
    font-family: $font-inter;
    color: $black;
    background: #F3F2F0;
}
button {
    border: none;
    cursor: pointer;
}
.main {
    margin-top: 0;
    padding-top: 0;
}
.header {

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 4rem;
        padding-bottom: 6rem;
    }
    &__navigation {
        padding: 0;
    }
    &__nav {
        display: flex;
        list-style-type: none;
        gap: 4rem;
        padding-left: 0;
        margin: 0;

    }
    &__item {
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    &__contact {
        display: flex;
        align-items: center;
        gap: 1.3rem;
    }
    &__tel {
        color: $black;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-transform: capitalize;
        text-decoration: none;
        &:hover {
            color: $red;
            cursor: pointer;
        }
    }
    &__mail {
        color: $black;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 1.3rem;
        &:hover {
            color: $red;
            cursor: pointer;
        }
        &::before {
            content: "";
            display: block;
            width: 1px;
            height: 24px;
            background: $black;
            opacity: .2;
        }
    }

}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.portfolio {
    background: $bg_port;
    padding: 50rem auto;
}
.picture {

    &__img {
        object-fit: cover;
        object-position: 0% 15%;
        width: 100%;
        height: 31rem;
        position: relative;
        overflow: hidden;
    }
}
.job {
    margin-top: 10rem;
    &__content {
        position: relative;

        &::before {
            content: "";
            width: 253px;
            height: 253px;
            border-radius: 100%;
            background: $white;
            position: absolute;
            top: -5rem;
            left: -13rem;
            z-index: -1;
        }
        &::after {
            content: "";
            border: 36px solid rgba(0,0,0,0);
            border-bottom: 72px solid #d40000;
            position: absolute;
            top: -5rem;
            left: -16rem;
        }
    }
    &__name {
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: 0;
    }
    &__namejob {
        font-size: 7.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.22px;
        text-transform: uppercase;
        margin-top: 3rem;
        margin-bottom: 10rem;
    }
    &__link {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            display: block;
            width: 0%;
            bottom: -50%;
            height: 2px;
            background-color: #010101;
            position: absolute;
            left: 50%;
            position: absolute;
            -webkit-transition: width .3s ease-in-out;
            -moz--transition: width .3s ease-in-out;
            transition: width .3s ease-in-out;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            transform: translateX(-50%);
            border-radius: 100px;
        }
        &::after {
            content: "";
            background-image: url(../images/arrow.svg);
            width: 16px;
            height: 12px;
            background-size: cover;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 12px;
            display: block;

        }
    }
}

.connection {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 5rem;
}

.social {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2.8rem;
    &::after {
        content: "";
        width: 106px;
        height: 106px;
        border-radius: 100%;
        background: #fff;
        position: absolute;
        right: 40px;
        z-index: -1;
    }
    &__item {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        gap: 2.8rem;
        &::before {
            content: "";
            display: block;
            width: 1px;
            height: 24px;
            background: #010101;
            opacity: 0.2;
        }
        &:first-child::before {
            display: none
        }
    }
    &__link {
        text-decoration: none;
        color: $black;
        font-size: 1.6rem;
    }
}

.skills {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    &__item {
        max-width: 260px;
    }
    &__title {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: .03em;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    &__description {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 150%;
        max-width: 211px;
    }
}